* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #F1F4F9;
}

.wrapper {
  overflow: hidden;
  font-family: Montserrat;
  color: #12233D;
}

.container {
  width: 90%;
  margin: auto;
}

.title {
  padding-bottom: 40px;
  text-align: center;
}
.title span {
  color: #6446BD;
}

.card {
  background: #fff;
  border-radius: 25px;
}

.reveal {
  opacity: 0;
}

.reveal.animate__animated {
  opacity: 1;
}

.header {
  padding: 30px 0 10px 0;
  position: relative;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header_logo span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 11px;
  background: #6446BD;
}
.header input {
  display: none;
}
.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.header-bar div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.header-bar .brand {
  color: #12233D;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 18px;
}
.header-bar .header-center {
  display: none;
  transition: 0.5s;
}
.header-bar .header-center a:hover {
  color: #12233D;
}
.header-bar .btnDemo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  opacity: 1;
  border-radius: 15px;
  border: 2px solid #6446BD;
  color: #6446BD;
  padding: 13px 10px;
  background: rgba(100, 70, 189, 0.1490196078);
}
.header-bar label svg {
  height: 45px;
  position: absolute;
  width: 45px;
}
.header-bar label .plates {
  display: flex;
  flex-wrap: wrap;
}
.header-bar label .plate {
  height: 45px;
  width: 45px;
}
.header-bar label .burger {
  filter: url(#gooeyness);
}
.header-bar label .x {
  transform: scale(0);
  transition: transform 400ms;
}
.header-bar label .line {
  fill: none;
  stroke: #6446BD;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}
.header-bar label .x .line {
  stroke-width: 5.5px;
}
.header-bar label .plate4 .x {
  transition: transform 400ms;
}
.header-bar label .plate4 .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.header-bar label .active.plate4 .line {
  transition: transform 400ms;
}
.header-bar label .active.plate4 .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}
.header-bar label .active.plate4 .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}
.header-bar label .active.plate4 .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}
.header-bar label .active.plate4 .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}
.header-bar label .active.plate4 .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}
.header-bar label .active.plate4 .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}
.header-bar label .active.plate4 .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}
.header-bar .nav {
  position: absolute;
  background: #F1F4F9;
  top: 140px;
  width: 100%;
  height: 100vh;
  right: -1000%;
  z-index: 1;
  transition: right 1s ease;
  padding: 0 20px;
}
.header-bar .nav li {
  position: relative;
  list-style: none;
  border-bottom: 1px solid gray;
}
.header-bar .nav li a {
  display: inline-block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  padding: 13px 0;
  color: #A1A1A1;
  transition: color 0.3s ease;
}
.header-bar .nav li a:hover {
  color: #12233D;
}
.header-bar .nav li a:active, .header-bar .nav li a:focus {
  color: #12233D;
}
.header-bar #nav-toggle:checked ~ .nav {
  right: 0%;
}

section {
  margin-top: 80px;
  text-align: center;
}

#home {
  margin-top: 0;
}

.home-content {
  margin: 40px 0;
  text-align: center;
  color: #12233D;
  font-family: Montserrat;
}
.home-content h1 {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 35px;
  margin-bottom: 35px;
}
.home-content p {
  color: rgba(55, 38, 72, 0.8);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.home-content button {
  width: 100%;
  max-width: 480px;
  border-radius: 15px;
  padding: 18px;
  border: none;
  background-color: #6446BD;
  box-shadow: 0px 0px 35px 0px rgba(122, 95, 204, 0.6);
}
.home-content button a {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #fff;
}
.home-media {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  height: 160px;
}
.home-media img {
  position: relative;
  width: 240px;
  height: 240px;
}
.home-media img:nth-child(1) {
  left: 120px;
}
.home-media img:nth-child(2) {
  top: -50px;
}
.home-media img:nth-child(3) {
  left: -120px;
}
.home .bottom img {
  top: -50px;
}
.home .bottom img:nth-child(2) {
  top: -10px;
}
.home .title {
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 20px;
}
.home .card {
  border-radius: 25px;
  background: #fff;
  margin-top: 20px;
}

.about {
  text-align: center;
}
.about_card {
  display: grid;
  gap: 25px;
}
.about_card .card {
  padding: 25px;
  display: grid;
  text-align: center;
  gap: 25px;
}
.about_card h3 {
  font-weight: 800;
  color: #6446BD;
  font-size: 20px;
}
.about_card p {
  font-weight: 500;
  font-size: 16px;
  display: block;
  width: 100%;
}
.about_card p span {
  font-weight: 800;
  color: #6446BD;
}
.about_card .div3 {
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
}
.about_card .ellipse {
  display: inline-block;
  background: linear-gradient(180deg, #7A5FCC 0%, #D0C6EF 100%);
  width: 20px;
  margin: auto;
  height: 20px;
  border-radius: 50%;
}

.features input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.features .accordion-wrapper {
  overflow: hidden;
}
.features .accordion {
  border-radius: 40px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  background: white;
  position: relative;
  text-align: left;
}
.features .accordion:last-child {
  margin-bottom: 0;
}
.features .accordion-label {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-weight: bold;
  color: #6446BD;
  cursor: pointer;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  display: block;
}
.features .accordion-label::after {
  position: absolute;
  right: 25px;
  content: "";
  background: url("/images/Frame 179 (2).png");
  background-size: cover;
  width: 24px;
  height: 24px;
  text-align: center;
  transition: all 0.3s;
}
.features p::before {
  /* margin: 0; */
  width: 91%;
  position: absolute;
  content: "";
  background: #6446BD;
  left: 25px;
  height: 1.5px;
  top: 75px;
}
.features .accordion-content {
  max-height: 0;
  padding: 0 25px;
  background: white;
  transition: all 0.3s;
}
.features .accordion-content p {
  margin: 0;
  font-size: 18px;
}
.features input:checked + .accordion-label::after {
  transform: rotate(180deg);
}
.features input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 25px;
}

.features_card .card {
  padding: 15px;
  min-height: 210px;
}
.features_card .features_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.features_card .features_title img {
  width: 26px;
  height: 26px;
}
.features_card .features_title h2 {
  font-weight: 600;
  font-size: 16px;
  padding: 0 19px;
}
.features_card p {
  font-weight: 400;
  font-size: 16px;
  padding-top: 15px;
}

.benifist_card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 24px;
}
.benifist_card .card {
  padding: 12px 24px;
  width: 154px;
  margin: 0;
  background: #fff;
}
.benifist_card img {
  height: 100px;
  width: 100px;
}
.benifist_card p {
  font-weight: 500;
  font-size: 15px;
}

.demo .card {
  border-radius: 30px;
}
.demo .title {
  margin-bottom: 24px;
}
.demo-info {
  text-align: start;
  padding-bottom: 40px;
}
.demo-info img {
  padding: 10px;
  background: rgba(100, 70, 189, 0.1019607843);
  margin-right: 15px;
  border-radius: 10px;
  width: 42px;
}
.demo-info span {
  color: #5a1490;
}
.demo h1 {
  font-weight: 800;
  font-size: 32px;
  padding-bottom: 24px;
}
.demo p {
  display: flex;
  align-items: center;
  color: #5a1490;
  font-weight: 400;
  font-size: 18px;
  padding-top: 12px;
}

.form {
  padding: 20px;
  text-align: start;
}
.form label {
  display: block;
  font-weight: 600;
  font-size: 15px;
  width: 100%;
  margin-top: 15px;
  color: #60697A;
}
.form input {
  margin-top: 5px;
  width: 100%;
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  background: #EFF1F5;
  border-radius: 10px;
  color: #B1B7C1;
  border: none;
}
.form button {
  width: 100%;
  margin-top: 20px;
  background: #6446BD;
  border: none;
  border-radius: 15px;
  color: #fff;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
}

#customer .title {
  font-size: 35px;
}
#customer .card:nth-child(n+4) {
  display: none;
}
#customer .card {
  padding: 20px;
  text-align: start;
  border-radius: 30px;
}
#customer .card img {
  width: 150px;
  height: 47px;
}
#customer .card p {
  margin-top: 25px;
  font-weight: 400;
  font-size: 16px;
}
#customer .card_row {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
#customer .card_row span {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
#customer .card_row span img {
  width: 100px;
  height: 65px;
  margin-left: -25px;
}
#customer .card_row h2 {
  font-weight: 600;
  font-size: 15px;
}
#customer .card_row p {
  margin-top: 0;
  font-weight: 500;
  font-size: 13px;
  color: #6446BD;
}
#customer .swiper-slide:nth-child(n+4) {
  display: none;
}
#customer .swiper_row {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
}
#customer .swiper-button-next {
  position: relative;
}
#customer .swiper-button-next:after {
  content: url("/images/Frame 126 (2).png");
}
#customer .swiper-button-prev {
  position: relative;
}
#customer .swiper-button-prev:after {
  content: url("/images/Frame 125 (2).png");
}
#customer .swiper-pagination {
  position: relative;
  width: 135px;
}
#customer .swiper-pagination-bullet {
  background: rgba(9, 84, 197, 0.5019607843);
}
#customer .swiper-pagination-bullet-active {
  background: #6446BD;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  position: relative;
}
.contacts .card {
  border-radius: 30px;
  padding: 20px;
}
.contacts .card h1 {
  font-weight: 800;
  font-size: 25px;
}
.contacts .card h2 {
  padding: 15px 0;
  font-weight: 700;
  font-size: 20px;
}
.contacts_info {
  font-weight: 600;
  font-size: 16px;
  color: #6446BD;
  color: #6446BD;
}
.contacts_info div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.contacts_info img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.contacts_info a {
  font-weight: 500;
  color: #6446BD;
  margin-left: 5px;
}
.contacts_icon {
  padding-top: 25px;
}
.contacts_icon span {
  padding: 0 5px;
}
.contacts_icon img {
  width: 35px;
  height: 35px;
}
.contacts .image {
  display: none;
}
.contacts .image1 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer {
  margin-top: 80px;
  background: #6446BD;
  color: #fff;
}
.footer_block {
  padding: 40px 0;
}
.footer_info {
  display: flex;
  justify-content: space-between;
}
.footer_info h1 {
  font-weight: 600;
  font-size: 18px;
}
.footer_info p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
}
.footer_info a {
  color: #fff;
}
.footer_row {
  margin-top: 40px;
  text-align: center;
}
.footer_row h1 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
}
.footer_row p {
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 1124px) {
  .container {
    max-width: 1128px;
  }
  .title {
    font-size: 35px;
  }
  .header {
    padding: 0;
  }
  .header .header_logo {
    gap: 15px;
  }
  .header .header_logo span {
    width: 50px;
    height: 50px;
  }
  .header .burger {
    display: none;
  }
  .header img {
    width: 50px;
    height: 50px;
  }
  .header .brand {
    font-size: 27px;
  }
  .header .header-center {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    gap: 15px;
  }
  .header .header-center a {
    color: #A1A1A1;
  }
  .header .btnDemo {
    font-size: 18px;
  }
  #home {
    margin-top: 80px;
  }
  .home {
    display: flex;
    position: relative;
  }
  .home-content {
    margin: 0 auto;
    max-width: 700px;
    padding: 108px 0;
    text-align: center;
  }
  .home-content h1 {
    font-size: 41px;
    margin-bottom: 26px;
  }
  .home-content p {
    font-size: 22px;
    margin-bottom: 62px;
  }
  .home-content button {
    max-width: 100%;
    font-size: 21px;
  }
  .home-media {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 150px;
  }
  .home-media img {
    width: 400px;
    height: 400px;
  }
  .home-media img:nth-child(1) {
    top: 180px;
    left: -120px;
  }
  .home-media img:nth-child(2) {
    top: 30px;
    left: -250px;
  }
  .home-media img:nth-child(3) {
    top: -120px;
    left: -120px;
  }
  .home .bottom {
    right: -320px;
  }
  .home .bottom img:nth-child(1) {
    top: 210px;
  }
  .home .bottom img:nth-child(2) {
    right: -30px;
    top: 50px;
    left: auto;
  }
  .home .bottom img:nth-child(3) {
    width: 500px;
    height: 500px;
  }
  .about .card {
    max-width: 48.9%;
    align-items: center;
    text-align: left;
    margin: 0;
    position: relative;
    gap: 20px;
  }
  .about .card:last-of-type {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .about h3 {
    font-size: 25px;
  }
  .about p {
    font-size: 20px;
    padding: 0;
  }
  .about .ellipse {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .about_card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features {
    text-align: left;
  }
  .features p::before {
    width: 95%;
  }
  .features .accordion-label::after {
    width: 30px;
    height: 30px;
  }
  .benifist {
    text-align: left;
  }
  .benifist_card {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .benifist_card .card {
    width: 267px;
    height: 267px;
    align-items: center;
  }
  .benifist_card img {
    width: 150px;
    height: 150px;
  }
  .benifist_card p {
    font-size: 21px;
  }
  .demo-card {
    display: flex;
  }
  .demo .title {
    display: block;
  }
  .demo-info {
    text-align: start;
    width: 628px;
  }
  .demo-info h1 {
    font-size: 55px;
  }
  .demo-info p {
    padding-top: 10px;
    font-size: 21px;
  }
  .demo-info div {
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }
  .demo .form {
    margin: 0;
    width: 490px;
    height: 483px;
  }
  .demo .form-row label {
    font-size: 18px;
  }
  .demo .form-row input::-moz-placeholder {
    font-size: 18px;
  }
  .demo .form-row input::placeholder {
    font-size: 18px;
  }
  .demo .form .one {
    display: flex;
    gap: 20px;
  }
  .demo .form .one label {
    margin: 0;
  }
  .demo .form button {
    font-size: 21px;
  }
  #customer .card img {
    width: 150px;
    height: 47px;
  }
  #customer .card p {
    font-size: 21px;
  }
  #customer .card_row span {
    width: 75px;
    height: 75px;
    margin-right: 10px;
  }
  #customer .card_row span img {
    width: 110px;
    height: 75px;
    margin-left: -25px;
  }
  #customer .card_row h2 {
    font-size: 19px;
  }
  #customer .card_row p {
    font-size: 16px;
  }
  #customer .swiper-slide:nth-child(n+4) {
    display: block;
  }
  #customer .swiper_row {
    margin-top: 90px;
  }
  .contacts {
    text-align: start;
  }
  .contacts .card {
    padding: 25px;
    position: relative;
  }
  .contacts .card h1 {
    width: 533px;
    font-size: 35px;
  }
  .contacts .card h2 {
    padding: 15px 0;
    font-size: 30px;
  }
  .contacts_info {
    font-size: 21px;
  }
  .contacts_info img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }
  .contacts_info div {
    justify-content: start;
  }
  .contacts_icon {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .contacts_icon span {
    padding: 0 5px;
  }
  .contacts_icon img {
    width: 45px;
    height: 45px;
  }
  .contacts .image {
    display: block;
    position: absolute;
    left: 700px;
    bottom: 0;
  }
  .contacts .image1 {
    display: none;
  }
  .footer {
    margin-top: 140px;
  }
  .footer_block {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .footer_info {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .footer_info div {
    width: 100%;
  }
  .footer_info img {
    width: 55px;
    height: 55px;
  }
  .footer_info h1,
  .footer_info p {
    font-size: 21px;
  }
  .footer_row {
    margin-top: 40px;
    text-align: end;
  }
  .footer_row h1 {
    padding-top: 10px;
    font-size: 20px;
  }
  .footer_row p {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */